<div class="single-product-area">
  <div class="zigzag-bottom"></div>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <p>
            <strong>Name:</strong>
            <%= @user.name %>
          </p>

          <p>
            <strong>Role:</strong>
            <%= @user.role.name %>
          </p>

          <p>
            <strong>Email:</strong>
            <%= @user.email %>
          </p>

        <p>
            <strong>Phone:</strong>
            <%= @user.phone %>
          </p>

        <p>
            <strong>Email:</strong>
            <%= @user.address %>
          </p>


          <p>
            <strong>Joined on:</strong>
            <%= @joined_on %>
          </p>

          <p>
            <strong>Last logged in on:</strong>
            <%= @last_login %>
          </p>

          <p>
            <strong>No. times logged in:</strong>
            <%= @user.sign_in_count %>
          </p>

        <div>
          <%= link_to "Edit this user", edit_user_path(@user) %> |
          <%= link_to "Back to users", users_path %>

          <%= button_to "Destroy this user", @user, method: :delete %>
        </div>
      </div>
    </div>
  </div>
</div>