    <div class="maincontent-area">
        <div class="zigzag-bottom"></div>
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="latest-product">
                        <h2 class="section-title">Products</h2>
                        <%= render 'pages/search_form' %>
                        <div class="product-carousel">
                        <% @products.each do |product| %>
                            <div class="single-product">
                                <div class="product-f-image">
                                    
                                     <%= image_tag(product.image, style: 'height: 264px')%>
                                    <div class="product-hover">
                                        <a href="" class="add-to-cart-link"><i class="fa fa-shopping-cart"></i> Add to cart</a>
                                        <a href="/productDetail/<%= product.id %>" class="view-details-link"><i class="fa fa-link"></i> See details</a>
                                    </div>
                                </div>
                                
                                <h2><a href=""><%= product.name %></a></h2>
                                
                                <div class="product-carousel-price">
                                    <ins>$<%= product.price %></ins>
                                </div> 
                            </div>
                        <% end %>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div> <!-- End main content area -->
