<div class="product-big-title-area">
  <div class="container">
      <div class="row">
          <div class="col-md-12">
              <div class="product-bit-title text-center">
                  <h2>User</h2>
              </div>
          </div>
      </div>
  </div>
</div>
<div class="single-product-area">
  <div class="zigzag-bottom"></div>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
      <p style="color: green"><%= notice %></p>

      <h1>Categories</h1>
      <%= form_tag(categories_path, method: :get) do %>
        <%= text_field_tag :term, params[:term] %>
        <%= submit_tag 'Search' %>
      <% end %>
      <table class="shop_table cart">
        <thead>
          <tr>
            <th>Name</th>
            <th colspan="3">Action</th>
          </tr>
        </thead>

        <tbody>
          <% @categories.each do |category| %>
            <tr class="cart_item">
              <td><%= category.name %></td>
              <td><%= link_to 'Edit', edit_category_path(category) %></td>
              <td><%= link_to 'Destroy', category, method: :delete, data: { confirm: 'Are you sure?' } %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
      <%= link_to "New category", new_category_path, :class => 'wid-view-more'%>
    </div>
  </div>
</div>